<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>.NET Core App 3.1.401 Template</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>